/* General Elements*/
body {
   font-family: 'Share Tech Mono', monospace;
}
body {
   background-image: url('../images/background.jpg');
}
div {
   font-size: 30px;
   background-color: grey;
   margin: 10px;
   width: 25%;
}
div {
   border: solid 2px black;
   padding: 10px;
}
h1,
h3,
span {
   font-weight: bold;
   text-align: center;
}
h1 {
   font-size: 30pt;
}
ol {
   list-style: decimal inside;
}
ul {
   list-style: disc inside;
   text-indent: 20px;
}
/* Specfic Elements*/
div.header,
div.gems {
   background-color: #e0e0eb;
}
div.header,
div.instructions {
   margin-top: 30px;
   width: 100%;
}
/* Classes */
.numberToMatch,
.winsAndLosses {
   display: inline-block;
   text-align: center;
}
.userTotal {
   display: inline-block;
}
.gems {
   display: inline block;
   clear: both;
   width: 100%;
}
.gemImage {
   height: 150px;
   width: 150px;
   margin-left: 80px;
}
/* IDs */
#purple {
   color: purple;
}
#white {
   color: white;
}
#blue {
   color: blue;
}
#pink {
   color: pink;
}
